
// =============================================================================
// #BEM syntaxis
// =============================================================================

  /// Add BEM syntaxis to a subelement
  ///
  /// @param {string} $name - Name of the subelement
  ///
  @mixin element($name) {
    @at-root #{&}__#{$name} {
      @content;
    }
  }


  /// Add BEM syntaxis to an modifier
  ///
  /// @param {string} $name - Name of the modifier
  ///
  @mixin modifier($name) {
    @at-root #{&}--#{$name} {
      @content;
    }
  }




// =============================================================================
// #Grid Mixins
// =============================================================================

  /// Create a media query
  ///
  /// @param {value} $width
  @mixin media($width) {
      @media only screen and (min-width: #{$width}) {
          @content;
      }
  }




// =============================================================================
// #Component Mixins
// =============================================================================

/// Convert tracking to letter-spacing
///
/// @param {string} $target - Tracking
///
/// @return {property} letter-spacing property
  @function tracking($target) {
    @return ($target / 1000) * 1em;
  }

  @mixin tracking($target) { 
    letter-spacing: tracking($target);
  }




// =============================================================================
// #Font Antialiasing
// =============================================================================

@mixin fontSmoothing() {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -mox-font-smoothing: grayscale;
}




// =============================================================================
// #Font Antialiasing
// =============================================================================

@mixin image-dark-screen() {
  position: relative;
  z-index: 0;

  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparentize(black, 0.5);
    z-index: -1;
  }
}