// =============================================================================
// #Colors
// =============================================================================

  // Brand color palette
  
  
  
  
  // =============================================================================
  // #Typography
  // =============================================================================
  
    // Font families

  
    // Font sizes
    $font-size-x-small: 12px;
    $font-size-small: 14px;
    $font-size-regular: 16px;
    $font-size-large: 18px;
    $font-size-x-large: 24px;
    $font-size-xx-large: 32px;
    $font-size-xxx-large: 48px;
    $font-size-xxxx-large: 60px;
  
    
    // Font weights
    $font-weight-regular: 400;
    $font-weight-bold: 900;
  
  
  
  
  // =============================================================================
  // #Layout
  // =============================================================================
  
    // Devices
    $media-phone: 480px;
    $media-phone-landscape: 640px;
    $media-tablet-portrait: 760px;
    $media-tablet-landscape: 900px;
    $media-desktop-small: 1024px;
    $media-desktop-regular: 1200px;
    $media-desktop-large: 1600px;
  
  
    // Layout elements
    $padding-xxx-small: 0.25rem;
    $padding-xx-small: 0.5rem;
    $padding-x-small: 0.75rem;
    $padding-small: 1rem;
    $padding-regular: 1.5rem;
    $padding-large: 2rem;
    $padding-x-large: 2.5rem;
    $padding-xx-large: 3rem;
    $padding-xxx-large: 3.5rem;
  
  
    // Borders
    $border-radius-small: 2px;
    $border-radius-regular: 4px;
    $border-radius-large: 6px;
  
    // Z Indexes
    $z-index-minus: -1;
    $z-index-0: 0;
    $z-index-1: 1;
    $z-index-2: 2;
    $z-index-5: 5;